.alertbox {
    position: fixed;
    z-index: 999;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    right: 2rem;
    display: flex;
    align-items: center;
    top: -4rem;
    transition: 1s;
    opacity: 0.2;
    animation: visibility ease 4s;
  }
  
  @keyframes visibility {
    0%{
      opacity: 1;
    }
    80%{
      opacity: 0.8;
    }
    85%{
      opacity: 0.7;
    }
    90%{
      opacity: 0.5;
    }
    95%{
      opacity: 0.3;
    }
    99%{
      opacity: 0.2;
    }
    100%{
opacity: 0;
    }
  }
  #error {
    background-color: red;
  }
  
  #success {
    background-color: rgb(83, 151, 83);
  }
  
  .animatealert {
    top: 2rem;
  }
  
  .alertbox p {
    margin-left: 0.6rem;
  }
  