.spinner img{
    width: 7rem;
}
.spinner{
    position: fixed;
    left: 47%;
    top: 40%;
    z-index: 999;
    width: 8rem;
}
.loader{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.loader img{
    position: fixed;
    left: 47%;
    top: 40%;
    z-index: 999;
    width: 8rem;

}